%p Welcome,

%p= "You have been invited to sign up for an account on #{t('app_title')}."

%p To create your account, please follow the link below and complete your registration details:

%p= link_to 'Create an account', new_user_registration_url
