Welcome,
\
= "You have been invited to sign up for an account on #{t('app_title')}."
\
To create your account, please follow the link below and complete your registration details:
\
= new_user_registration_url