%p Dear Support,

%p A voter has reported that there is something wrong with their vote and that it is not as expected when verified:

%dl
  %dt Election:
  %dd= @election

  %dt Beta:
  %dd{ style: 'word-break: break-all;' }= @beta

  %dt Tracker Number:
  %dd{ style: 'word-break: break-all;' }= @tracker

  %dt Reason:
  %dd= @reason

%p Please can you investigate this report and respond directly to the voter?