Dear Support,
\
A voter has reported that there is something wrong with their vote and that it is not as expected when verified:
\
Election:
= @election
\
Beta:
= @beta
\
Tracker Number:
= @tracker
\
Reason:
= @reason
\
Please can you investigate this report and respond directly to the voter?