= "Dear #{@resource.forename},"
\
We're contacting you to notify you that your password has been changed.
\
= "If you changed the password, or it was changed at your request, then you can ignore this email.  If you did not change the password, then please get in touch with us at #{t('company_email')} so that we can check your account."
